---
import Layout from "../Layouts/BaseLayout.astro";
import { getEntry } from 'astro:content';

const entry = await getEntry('bio', 'bio');

const bioTitle = entry?.data.bioTitle ?? "";
const bioText = entry?.data.bioText ?? "";
---

<Layout class="py-5">
  <article class="space-y-12 py-11">
    <section>
      <h1 class="text-4xl font-bold">{bioTitle}</h1>
      <p class="whitespace-pre-line ">{bioText}</p>
    </section>
  </article>
</Layout>
