---
import Layout from "../Layouts/BaseLayout.astro";
import "../styles/global.css";
---

<Layout>
  <h1 class="text-3xl font-bold dark:">JOSUE ART PORTFOLIO</h1>
  <p>Welkom bij mijn kunstwebsite.</p>
</Layout>
