---
import Navigation from "@/Components/Navigation";
import Navigation2 from "@/Components/Navigation";

import "../styles/global.css";
import { ModeToggle } from "@/Components/ModeToggle";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Josue Art Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="px-5 text-black transition-colors bg-white duration-400 dark:bg-black dark:text-white">
    <Navigation />
    <slot />
    <div style="position: fixed; bottom: 1.5rem; right: 1.5rem; z-index: 50;">
      <ModeToggle client:load />
    </div>
  </body>

  <script is:inline>
    (() => {
      try {
        const theme = localStorage.getItem("theme");
        const prefersDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
        if (theme === "dark" || (!theme && prefersDark)) {
          document.documentElement.classList.add("dark");
        } else {
          document.documentElement.classList.remove("dark");
        }
      } catch (e) {}
    })();
  </script>
</html>
