---
import Navigation from "../Components/Navigation"; 
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Josue Art Portfolio</title>
  </head>
  <body class="px-5">
    <Navigation />
    <main>
      <slot />
    </main>
  </body>
</html>
