---
import Navigation from "../Components/Navigation"; 
import ThemeToggle from "../Components/ThemeToggle";
import "../styles/global.css";
---

  <head>
    <title>Josue Art Portfolio</title>
  </head>
  <body class="px-5 dark:bg-dark">
    <Navigation />
      <slot />
    <div style="position: fixed; bottom: 1.5rem; right: 1.5rem; z-index: 50;">
      <ThemeToggle client:load />
    </div>
  </body>
